// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for Eswin EIC7700 Z530 SoC.
 *
 * Copyright 2024, Beijing ESWIN Computing Technology Co., Ltd.. All rights reserved.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 2.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Authors: Xiang Xu <xuxiang@eswincomputing.com>
 */
#include "eic7700-som260.dtsi"

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "ESWIN EIC7700 Z530";
	compatible = "eswin,eic7700";

	aliases {
		serial0 = &uart0;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
		i2c6 = &i2c6;
		i2c7 = &i2c7;
		i2c8 = &i2c8;
		i2c9 = &i2c9;
		i2c11 = &i2c11;
		i2c12 = &i2c12;
		gpio0 = &gpio0;
		spi0 = &bootspi;
		spi1 = &dw_spi0;
	};
};

&dw_spi0 {
	status = "okay";
	spi-flash@1 {
		reg = <1>;
		compatible = "winbond,w25q128fw",
			"jedec,spi-nor";
		spi-max-frequency = <4800000>;
	};
};
&sd {
	status = "okay";
	delay_code = <0x3b>;
	drive-impedance-ohm = <33>;
	enable-cmd-pullup;
	enable-data-pullup;
};

&sdio1 {
        status = "okay";
        delay_code = <0x29>;
        drive-impedance-ohm = <33>;
        enable-cmd-pullup;
        enable-data-pullup;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio79_default>;
        rst-gpios = <&portc 15 GPIO_ACTIVE_HIGH>;
};


&eswin_sata {
	status = "okay";
};

&eth0 {
	status = "okay";
	phy-mode = "rgmii-txid";
	max-speed = <1000>;
	phy-handle = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio76_default>;
	rst-gpios = <&portc 12 GPIO_ACTIVE_LOW>;
	dly-param-1000m = <0x10101010 0x1D003410 0x0>;
	dly-param-100m = <0x10101010 0x64104610 0x10101010>;
	dly-param-10m = <0 0 0>;
	mdio0 {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: ethernet-phy@1 {
			reg = <0>;
		};
	};
};

&eth1 {
	status = "disabled";
	phy-mode = "rgmii-txid";
	max-speed = <1000>;
	phy-handle = <&phy1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio76_default>;
	rst-gpios = <&portc 12 GPIO_ACTIVE_LOW>;
	dly-param-1000m = <0x10101010 0x14102810 0x10101010>;
	dly-param-100m = <0x10101010 0x3C102810 0x10101010>;
	dly-param-10m = <0 0 0>;
	mdio1 {
		#address-cells = <1>;
		#size-cells = <0>;
		phy1: ethernet-phy@1 {
			reg = <0>;
		};
	};
};

&pcie {
	status = "okay";
};
&display_logo {
	status = "disabled";
};
&dwc3_typec0 {
		status = "okay";
		dr_mode = "peripheral";
		maximum-speed = "super-speed";
};
&usb0 {
	status = "okay";
};
&usb1 {
	status = "okay";
};
&hdmi {
	status = "okay";
};
&display_subsystem {
	status = "okay";
};
&route_hdmi {
	status = "okay";
};
&osd {
	status = "okay";
};
&i2c0 {
	status = "disabled";
};
&i2c2 {
	status = "disabled";
};
&i2c3 {
	status = "disabled";
};
&i2c11 {
	status = "okay";
};
